header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    padding: 20px 0 10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);


    @media (min-width:992px) {
        padding: 20px 0;
    }

    .container {
        @media (min-width:992px) {
            padding: 0px 20px;
        }

        @media (min-width:1240px) {
            padding: 0 60px;
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width:992px) {
            position: relative;

        }

        .logo-block {
            text-align: left;
            flex: 0 1 168px;
        }


        .lang-block {
            display: none;

            .lang-item {
                color: black;
            }

            path {
                stroke: black !important;
            }
        }

        .black-btn {
            display: none;
        }

        @media (min-width:992px) {
            .black-btn {
                display: inline-block;
                padding: 12px 10px;
                margin-left: 85px;
            }

            .lang-block {
                display: inline-flex;
                right: 144px;
                top: 3px;
                // bottom: 0;
                // margin: auto 0;
                left: auto;
            }

        }

        @media (min-width:1240px) {
            .black-btn {
                flex: 0 1 168px;
            }

            .lang-block {
                top: 6px;
                right: 196px;
            }
        }

    }


    .logo-link {
        display: inline-block;

        img {
            max-height: 30px;

            @media (min-width:768px) {
                max-height: 37px;
            }

            @media (min-width:992px) {
                // max-height: 46px;
            }

            @media (min-width:1240px) {
                max-height: 46px;
            }
        }
    }

    .laptop-menu-list {
        display: none;

        @media (min-width:992px) {
            display: flex;
            gap: 20px;
        }

        @media (min-width:1240px) {
            gap: 32px;
        }
    }



}

.mobile-hamburger {
    @media (min-width:992px) {
        display: none;
    }

    height: 24px;

    .hamburger-svg {
        height: 30px;
        width: 30px;
        stroke-width: 1.3px;
    }
}