.s-big-cta {
    .big-cta-inner {
        color: #fff;
        border-radius: 12px;
        background-color: rgba(72, 47, 247, 1);
        padding: 70px 20px 40px;
        @media (min-width:375px) {
        padding: 70px 40px 40px;
    }

        @media (min-width:768px) {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        @media (min-width:992px) {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        @media (min-width:1240px) {
            padding-top: 144px;
            padding-bottom: 144px;
        }

    }

    .cta-heading {
        padding: 6px 11px 16px 11px;
        max-width: min-content;
        position: relative;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 30% auto, auto 48%;
        background-position: left  center, right bottom;
        background-image: url('../assets/images/s-big-cta/left-photo.png'), url('../assets/images/s-big-cta/right-photo.png');
        
        &::before {
            position: absolute;
            top: -43px;
            right: 0;
            content: '';
            display: inline-block;
            height: 43px;
            width: 43px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../assets/images/s-big-cta/yellow-heart.png');

            @media (min-width:768px) {
                top: 0;
                right: -60px;
                height: 75px;
                width: 75px;
            }

            @media (min-width:992px) {
                top: -60px;
                height: 105px;
                width: 105px;
            }

            @media (min-width:1240px) {
                right: -80px;
                height: 135px;
                width: 135px;
            }
        }
    }

    .cta-description {
        padding-top: 38px;
        max-width: 90%;
        margin: 0 auto;
        @media (min-width:768px) {
            max-width: 58%;
        }
        @media (min-width:992px) {
            max-width: 58%;
        }
    }

    .black-btn {
        margin-top: 24px;
    }
}