$first-tab-color: #482FF7;
$second-tab-color: #2D6CDF;
$third-tab-color: #46C3DB;
$fourth-tab-color: #0F0B30;

.s-donate {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 150px;
        right: 30%;
        background: #482FF7;
        opacity: 0.6;
        filter: blur(188px);
        border-radius: 100px;
        transform: rotate(180deg);
        z-index: -2;
        max-width: 388px;
        width: 50%;
        height: 100%;
        max-height: 318px;

        @media (min-width: 768px) {
            top: 100px;
        }
    }

    .container {
        padding: 0 20px !important;
    }

    .block-heading {
        padding: 0 78px 40px 0;
        text-align: left;
        position: relative;
        z-index: 1;

        @media (min-width:600px) {
            text-align: center;
            padding: 0 0 40px;
        }

        @media (min-width:992px) {
            padding: 0 0 60px;

        }

    }

    .s-donate-inner {
        border-radius: 12px;
        padding: 40px 30px;
        background-color: rgba(240, 250, 252);
        border: 2px solid #fff;
        box-shadow: 0px 4px 64px rgba(15, 11, 48, 0.08);
        position: relative;

        @media (min-width:768px) {
            padding: 160px 30px 40px;
        }

        @media (min-width:992px) {
            padding: 230px 60px 60px;
        }

        @media (min-width:1240px) {
            padding: 230px 80px 80px;
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            height: 33px;
            width: 46px;
            top: 50px;
            right: 30px;
            background: url('../assets/images/s-donate/money-icon.jpg') no-repeat;
            background-size: contain;

            @media (min-width:375px) {
                top: 40px;
                height: 47px;
                width: 66px;

            }

            @media (min-width:768px) {
                height: 69px;
                width: 94px;
                top: 80px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            @media (min-width:992px) {
                height: 78px;
                width: 111px;
            }


        }

        .laptop-donate-wrapper {
            text-align: left;
            display: none;

            @media (min-width:992px) {
                display: block;
            }
        }

        .mobile-donate-wrapper {
            text-align: left;

            .donate-btn {
                margin-bottom: 10px;
            }

            @media (min-width:768px) {
                margin: 0 auto;
                max-width: 80%;
            }

            @media (min-width:992px) {
                display: none;
            }
        }

        .tab-wrapper {
            width: 100%;
        }


        .payment-details-blocks {
            max-height: 0;
            overflow: hidden;
            transition: all 0.2s ease-out;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &.active {
                max-height: none;
                transition: all 0.2s ease-out;

            }

            .payment-details-block-item:not(:first-child) {
                padding-top: 40px;
                padding-bottom: 20px;

            }

            @media (min-width:992px) {
                max-height: fit-content;
                // overflow-y: auto;
                justify-content: space-between;
                min-height: 330px;

                &.first {
                    display: flex;
                }

                display: none;

            }

            .payment-details-block-item {
                width: 100%;

                max-width: 100%;

                @media (min-width:992px) {
                    max-width: 47%;
                }
            }

        }

        .payment-details-block-item {
            padding-top: 30px;
            padding-bottom: 0;

            @media (min-width:992px) {
                padding: 68px 0 0px !important;
            }

            .payment-block__title {
                padding-bottom: 18px;
                border-bottom: 1px solid rgba(15, 11, 48, 0.2);
                font-family: 'Neue Machina bold';
                font-size: 18px;
                line-height: 132%;

            }

            .payment-block__body {
                padding-top: 24px;

                >:not(:last-child) {
                    padding-bottom: 6px;
                }


                .payment-name {
                    font-size: 12px;
                    line-height: 146%;
                    text-align: left;


                    .bolder {
                        font-family: 'Neue Machina bold';
                        overflow-wrap: break-word;

                    }

                    @media (min-width:768px) {
                        font-size: 16px;
                    }

                    @media (min-width:992px) {
                        font-size: 18px;

                    }

                }

                .credit-card {
                    font-family: 'Neue Machina bold';
                    font-size: 18px;
                    line-height: 146%;

                    @media (min-width:992px) {
                        font-size: 24px;

                    }
                }

                .payment-name-medium {
                    font-family: 'Neue Machina medium';
                    font-size: 16px;
                    line-height: 146%;
                    overflow-wrap: break-word;
                }
            }

        }

        .payment-detail-copy {
            position: relative;
            padding-right: 30px;

            >* {
                // overflow-x: auto;
            }
        }

        .payment-detail-link {
            position: relative;
            padding-right: 30px;

            >* {
                // overflow-x: auto;
            }
        }

        .payment-switch-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (min-width:992px) {
                flex-direction: row;
                border-bottom: 1px solid rgb(72, 47, 247);

                .donate-btn {
                    border-radius: 4px 4px 0px 0px;
                    text-align: center;
                    padding: 17px 0 14px;

                }
            }

            .donate-btn {
                transition: .2s all ease;

                &:hover {
                    transition: .2s all ease;

                }

                &.active {
                    max-height: max-content;
                }

                &.first {
                    background-color: $first-tab-color;

                    &:hover {
                        background-color: darken($color: $first-tab-color, $amount: 10);
                    }
                }

                &.second {
                    background-color: $second-tab-color;

                    &:hover {
                        background-color: darken($color: $second-tab-color, $amount: 10);
                    }
                }

                &.third {
                    background-color: $third-tab-color;

                    &:hover {
                        background-color: darken($color: $third-tab-color, $amount: 10);
                    }
                }

                &.fourth {
                    background-color: $fourth-tab-color;

                    &:hover {
                        background-color: darken($color: $fourth-tab-color, $amount: 10);
                    }
                }

            }

        }
    }

}