$first-tab-color: #482FF7;
$second-tab-color: #2D6CDF;
$third-tab-color: #46C3DB;
$fourth-tab-color: #0F0B30;

$first-tab-content-bg_color: #F6FCFD;
$second-tab-content-bg_color: #E7F2F7;


.s-donate {
    padding: 80px 20px 0;

    ._container {
        min-height: 852px;
        border: 5px solid #fff;
        border-radius: 12px;
        padding: 0 162px;
        background-color: $first-tab-content-bg_color; 
        box-shadow: -255px -223px 322px -297px rgb(72 47 247 / 50%), 0 0px 69px -39px #777;

        @media(max-width:1392px) {
            padding: 0 100px;
        }

        @media(max-width:1270px) {
            padding: 0 60px;
        }

        // background-color: #c7c1ee; // тест
        &.accordion {
            display: none;
        }

        .donate-top-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 80px 0 0;

            img {
                padding-bottom: 12px;
                margin: 0 auto;
                width: 100%;
                min-width: 46px;
                max-width: 111px;
            }

            h2 {
                padding: 60px 0;
            }

            .payment-switch-block {
                border-bottom: 1px solid $first-tab-color;
                display: flex;
                justify-content: space-between;

                .button {
                    font-family: 'Neue Machina bold';
                    font-size: 16px;
                    line-height: 23px;
                    padding: 16px 0 15px;
                    text-align: center;
                    width: 260px;
                    color: #0F0B3099;

                    &.active {
                        color: #FFFFFF;
                    }

                    &.active.first {
                        background-color: $first-tab-color;
                    }

                    &.active.second {
                        background-color: $second-tab-color;
                    }

                    &.active.third {
                        background-color: $third-tab-color;
                    }

                    &.active.fourth {
                        background-color: $fourth-tab-color;
                    }
                }
            }
        }

        .payment-details-blocks {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media(max-width:1200px) {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                @media (min-width: 1001px) {
                    min-height: 580px;
                    justify-content: flex-start;
                }
            }

            &.first {
                display: flex;
                // display: none;
            }

            &.second {
                display: flex;
                display: none;
            }

            &.third {
                display: flex;
                display: none;
            }

            &.fourth {
                display: flex;
                display: none;
            }
        }

        .payment-details-block-item {
            padding-top: 68px;
            width: 100%;
            max-width: 502px;

            @media(max-width:1200px) {
                max-width: 70%;
            }

            * {
                text-align: left;
            }

            .payment-details-block-title {
                font-family: 'Neue Machina ultrabold';
                font-size: 22px;
                line-height: 29px;
                padding-bottom: 18px;
            }

            hr {
                width: 100%;
                height: 1px;
                background: rgba(15, 11, 48, 0.2);
            }


            .payment-details-block-body {
                padding-top: 24px;

                .copy-button,
                .link-button {
                    max-width: 26px;
                    max-height: 26px;
                    cursor: pointer;
                }

                .copy-button:hover,
                .link-button:hover {
                    transition: transform .2s;
                    transform: scale(1.1)
                }

                .copy-button:active,
                .link-button:active {
                    transition: transform .2s;
                    transform: scale(0.9)
                }

                .card-number-bold {
                    font-family: 'Neue Machina bold';
                    font-size: 24px;
                    line-height: 35px;
                }

                .medium-name-16 {
                    font-family: 'Neue Machina medium';
                    font-size: 16px;
                    line-height: 23px;
                }

                .medium-name-18 {
                    font-family: 'Neue Machina medium';
                    font-size: 18px;
                    line-height: 26.28px;
                }

                .regular-name {
                    font-family: 'Neue Machina regular';
                    font-size: 18px;
                    line-height: 26px;

                    .bold-detail {
                        font-family: 'Neue Machina bold';
                        font-size: 18px;
                    }
                }

                .payment-detail-copy {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .s-donate {

        ._container {
            padding: 0 60px;
            display: none;

            &.accordion {
                box-shadow: -446px -183px 212px -217px rgb(72 47 247 / 50%), 0 0px 69px -39px #777;
                margin: 0 auto;
                min-height: 0;
                display: block;
                padding-bottom: 40px;
                // box-shadow: -100px 23px 416px -140px rgb(72 47 247 / 90%);
                // box-shadow: -40px -39px 436px -159px rgb(72 47 247 / 90%);

                .donate-top-block {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    padding: 40px 0;

                    img {
                        padding-bottom: 0px;
                        margin: 0;
                        // width: 100%;
                        min-width: 46px;
                        max-width: 80px;
                    }

                    h2 {

                        padding: 20px 0;
                    }
                }

                .payment-switch-block {
                    // border-bottom: 1px solid $first-tab-color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .button {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Neue Machina bold';
                        font-size: 16px;
                        line-height: 23px;
                        padding: 16px 16px 16px 52.77px;
                        text-align: center;
                        width: 80%;
                        color: #FFFFFF;

                        span {
                            display: block;
                            flex: 1;
                        }

                        img {
                            // margin-right: 15px;
                            flex: 0;
                            // height: 18px;
                            transform: rotate(45deg);
                            transition: 0.5s;
                        }

                        &.active {
                            img {
                                transition: 0.5s;
                                transform: rotate(270deg);
                            }
                        }

                        &.active+.payment-details-blocks {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }

                        &.first {
                            background-color: $first-tab-color;
                        }

                        &.second {
                            background-color: $second-tab-color;
                        }

                        &.third {
                            background-color: $third-tab-color;
                        }

                        &.fourth {

                            background-color: $fourth-tab-color;
                        }
                    }

                    .payment-details-blocks {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        width: 80%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        flex-direction: row;

                        .payment-details-block-item {
                            padding: 20px 30px;
                            width: 100%;
                            max-width: 100%
                        }

                    }
                }
            }
        }

    }
}

@media (max-width:800px) {
    .s-donate {
        padding: 80px 20px 0px;

        ._container {
            padding: 0 60px;
            display: none;

            &.accordion {
                min-height: 0;
                display: block;
                box-shadow: -326px -213px 212px -217px rgb(72 47 247 / 81%), 0 0px 69px -39px #777;
                // box-shadow: -64px -86px 428px -141px rgb(72 47 247 / 90%);

                .donate-top-block {
                    display: flex;
                    padding: 40px 0;

                    img {
                        padding-bottom: 0px;
                        margin: 0;
                        min-width: 46px;
                        max-width: 80px;
                        padding-bottom: 20px;
                    }

                    h2 {
                        font-size: 36px;
                        line-height: 39px;
                        padding: 0 0;
                    }
                }

                .payment-switch-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .button {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 16px 16px 16px 52.77px;
                        width: 100%;
                        color: #FFFFFF;

                        span {
                            display: block;
                            flex: 1;
                        }

                        img {
                            flex: 0;
                            transform: rotate(45deg);
                            transition: 0.5s;
                        }

                        &.active {
                            img {
                                transition: 0.5s;
                                transform: rotate(270deg);
                            }
                        }

                        &.active+.payment-details-blocks {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }

                        &.first {
                            background-color: $first-tab-color;
                        }

                        &.second {
                            background-color: $second-tab-color;
                        }

                        &.third {
                            background-color: $third-tab-color;
                        }

                        &.fourth {

                            background-color: $fourth-tab-color;
                        }
                    }

                    .payment-details-blocks {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        .payment-details-block-item {
                            padding: 20px 0px;
                            width: 100%;
                            max-width: 100%
                        }

                    }
                }
            }
        }

    }
}

@media (max-width:620px) {
    .s-donate {
        padding: 80px 20px 0px;
        @media (max-width:581.98px) {
        padding: 60px 20px 0px;
        }
        ._container {
            padding: 0 30px;
            // display: none;

            &.accordion {
                box-shadow: -216px -103px 222px -187px rgb(72 47 247 / 91%), 0 0px 69px -39px #777;

                @media (max-width:445px) {
                    padding: 0 15px;
                    box-shadow: -266px -113px 122px -117px rgb(72 47 247 / 91%), 0 0px 69px -39px #777;
                }

                @media (max-width:345px) {
                    box-shadow: -266px -113px 122px -77px rgb(72 47 247 / 91%), 0 0px 69px -39px #777;
                    padding: 0 10px;
                }

                .donate-top-block {
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        height: 57px;
                        padding: 0;

                        @media (max-width:500px) {
                            height: 32px;
                            width: 46px;
                        }
                    }

                    h2 {
                        text-align: left;
                        font-size: 28px;
                        line-height: 29px;
                    }
                }

                .payment-switch-block {

                    .button {
                        width: 100%;
                        color: #FFFFFF;

                        @media(max-width:450px) {
                            padding-left: 16px;
                        }
                    }

                    .payment-details-blocks {
                        .payment-details-block-item {

                            .payment-details-block-title {
                                font-size: 18px;
                                line-height: 24px;
                            }

                            .payment-details-block-body {
                                padding-top: 24px;

                                .copy-button,
                                .link-button {
                                    cursor: pointer;

                                    img {
                                        max-width: 20px;
                                        max-height: 20px;

                                        @media (max-width:345px) {
                                            height: 14px;
                                            width: 14px;
                                        }
                                    }
                                }


                                .card-number-bold {
                                    font-family: 'Neue Machina bold';
                                    font-size: 18px;
                                    line-height: 25px;
                                }

                                .medium-name-16 {
                                    font-family: 'Neue Machina medium';
                                    font-size: 16px;
                                    line-height: 23px;
                                }

                                .medium-name-18 {
                                    font-family: 'Neue Machina medium';
                                    font-size: 18px;
                                    line-height: 26.28px;
                                }

                                .regular-name {
                                    font-family: 'Neue Machina regular';
                                    font-size: 12px;
                                    line-height: 17.52px;

                                    .bold-detail {
                                        font-family: 'Neue Machina bold';
                                        font-size: 12px;
                                    }
                                }

                                .payment-detail-copy {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    .medium-name,
                                    .medium-name-16,
                                    .medium-name-18 {
                                        font-size: 14px;
                                        line-height: 16px;
                                    }

                                    @media(max-width:550px) {

                                        .medium-name,
                                        .medium-name-16,
                                        .medium-name-18 {
                                            font-size: 12px;
                                            line-height: 16px;
                                        }
                                    }

                                    @media(max-width:482px) {

                                        .medium-name,
                                        .medium-name-16,
                                        .medium-name-18 {
                                            font-size: 8px;
                                            line-height: 16px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }

    }
}