footer {

    .footer-inner {
        display: grid;
        padding-bottom: 50px;

        * {
            text-align: left;
        }

        grid-template-areas: 'logo logo'
        'menu social';

        grid-template-columns: 2fr 1fr;
        row-gap: 43px;

        @media (min-width:768px) {
            grid-template-areas:
                'logo menu social';
            column-gap: 30px;
            grid-template-columns: 2fr 1fr 1fr;
            padding-bottom: 80px;
        }
    }

    .footer-logo-block {
        max-width: 111px;
        grid-area: logo;

        @media (min-width:768px) {
            max-width: 145px;
        }

        @media (min-width:1240px) {
            max-width: 168px;
        }

        .logo-link {
            display: inline-block;
        }
    }


    .social-media {
        grid-area: social;
        display: flex;
        flex-direction: column;
        gap: 21px;

        .social-media-link {
            font-family: 'Neue Machina medium';
            display: inline-block;
            padding-bottom: 5px;
            border-bottom: 2px solid rgba(72, 47, 247, 1);
            width: min-content;
            font-size: 16px;
            line-height: 122.5%;

            @media (min-width:768px) {
                font-size: 18px;
            }

            transition: .2s all ease;

            &:hover {
                text-shadow: 0.5px 0px 0px #000;
                transition: .2s all ease;
            }
        }
    }

    .footer-menu {
        grid-area: menu;
    }

    .footer-menu-list {
        .menu-item {
            @media (min-width:768px) {
                font-size: 18px;
            }

            &:not(:last-child) {
                padding-bottom: 16px;
            }
        }
    }

    .copyright-block {

        display: grid;
        column-gap: 30px;
        grid-template-columns: 2fr 1fr 1fr;

        * {
            text-align: left;
        }
    }
}