.s-faq {
    .container {
        @media (min-width:768px) {
            padding: 0 72px;
        }
    }

    .faq-inner {

        @media (min-width:992px) {
            display: flex;
        }
    }

    .heading-description__block {
        padding-bottom: 40px;

        @media (min-width:768px) {
            padding-bottom: 46px;
        }

        @media (min-width:992px) {
            max-width: 380px;
            padding-right: 6%;
            box-sizing: content-box;

            .regular-text {
                padding-right: 0;
            }
        }
    }
}

.faq-accordion {
    border: 1px solid rgba(15, 11, 48, 1);
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 32px 0 0;
    text-align: left;


    .accordion-item {
        padding-bottom: 34px;
        
        &::after {
            content: '';
            display: block;
            height: 1px;
            border-bottom: 1px solid rgba(15, 11, 48, 1);
        }
    }

    .accordion {
        background-color: #fff;
        cursor: pointer;
        transition: 0.4s;
    }

    .panel {
        margin-top: 32px;
        margin-bottom: 8px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        * {
            font-size: 13px;

            @media (min-width:768px) {
                font-size: 16px;
            }
        }
    }

    .faq-list {
        .bolder {
            font-family: "Neue Machina bold";
        }

        li {

            font-weight: 400;
            font-size: 13px;
            line-height: 146%;

            &:not(:last-child) {
                padding-bottom: 7px;
            }

            @media (min-width:768px) {
                font-size: 16px;

                &:not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }
    }
}