.i-slider-block {
    display: grid;
    place-items: center;

    .wrap {
        height: 220px;
        margin: auto;
        position: relative;
        width: 100%;

        max-width: 1440px;
        display: grid;
        place-items: center;
        overflow: hidden;
        background-color: rgb(255, 255, 255);

        .i-slider-track {
            display: flex;
            width: calc(280px*16);
            animation: scroll 20s linear infinite;

            &:hover {
                // .slide-track:hover{
                animation-play-state: paused;
                //   }
            }




            .slide {
                background-image: url('../images/s-carousel/blue-house-logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 88px;
                height: 140px;
                width: 280px;
                background-color: rgb(255, 255, 255);
                // height: 50px;
                // width:250px;
                display: flex;
                align-items: center;
                margin: 0 12px;
                border-radius: 10px;

                box-shadow: 0px 0px 106px -22px rgb(113 113 113 / 27%);

                @media(max-width:991.98px) {
                    // box-shadow: 0px 0px 75px -20px rgb(113 113 113 / 45%);
                    box-shadow: 0px 0px 71px -14px rgb(113 113 113 / 34%);
                }

                @media(max-width:700px) {
                    box-shadow: 0px 0px 75px -20px rgb(113 113 113 / 45%);
                }

                @media(max-width:451px) {
                    box-shadow: 0px 1px 49px -17px rgb(113 113 113/77%);
                }


                // perspective: 100px;
                transition: transform 1s;

                &:nth-child(even) {
                    // background: url('/images/s-carousel/blue-house-logo.png') center no-repeat;
                    background-image: url('../images/s-carousel/paper-airplane-toy.png');
                }
            }

            .img:hover {
                transform: translateZ(10px);
            }
        }
    }

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-280px*8));
    }
}


// скопіювати цей блок для респонсіву
@media (max-width: 991.98px) {
    .i-slider-block {

        .wrap {
            height: 151px; // d40 h20 + 91

            // виправити висоту, щоб було замість падінгів 
            .i-slider-track {
                width: calc(207px*16);

                @keyframes scroll {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(calc(-207px*8));
                    }
                }
                .slide {
                    background-size: 58px; //розмір лого
                    height: 91px; // висота картки
                    width: 207.3px; // ширина картки + марджин
                    margin: 0 12px;
                }

            }
        }

    }
}

@media (max-width: 747.98px) {
    .i-slider-block {

        .wrap {
            height: 151px; //

            // виправити висоту, щоб було замість падінгів 
            .i-slider-track {
                width: calc(170px*16);

                @keyframes scroll {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(calc(-170px*8));
                    }
                }
                .slide {
                    background-size: 45px; //розмір лого
                    height: 74px; // висота картки
                    width: 170px; // ширина картки + марджин
                    margin: 0 12px;
                }

            }
        }

    }
}

@media (max-width: 449.98px) {
    .i-slider-block {

        .wrap {
            height: 142px; // 40 + 62 +40 

            // виправити висоту, щоб було замість падінгів 
            .i-slider-track {
                width: calc(145px*16);

                @keyframes scroll {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(calc(-145px*8));
                    }
                }
                .slide {
                    background-size: 39px; //розмір лого
                    height: 62px; // висота картки
                    width: 145px; // ширина картки + марджин
                    margin: 0 10px;
                }

            }
        }

    }
}