.s-icon_boxes {

    padding-top: 80px;
    ._container {
        padding: 0 120px;

        .title-block {
            background-image: url('/images/s-icon_boxes-icons/rays.png'), url('/images/s-icon_boxes-icons/speak-icon.png');
            background-repeat: no-repeat;
            background-position: top right, center left;

            margin: 0 auto;
            width: 100%;
            // max-width: 1092px;
            max-width: 976px;
            padding-top: 10px;

            .title {
                margin: 0 auto;
            }

            .subtitle {
                margin: 0 auto;
                text-align: center;
                padding: 22px 0;
            }
        }

        .icon_boxes {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;

            :not(:first-child, :last-child) {
                margin: 0 24px;
            }

            .icon-box {
                // border: 1px solid red;
                display: flex;
                flex-direction: column;

                .icon {
                    padding: 59px 0 40px 0;
                    margin: 0 auto;

                    img {
                        height: 120px;
                    }
                }

                .icon_text-block {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 332px;

                    h4 {
                        font-family: 'Neue Machina bold';
                        padding-bottom: 14px;
                        font-size: 22px;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: center;
                    }

                    p {
                        font-family: 'Neue Machina regular';
                        font-size: 16px;
                        text-align: center;
                        // padding-bottom: 54px; щоб бекґраунд підняти
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

            }
        }
    }
}

@media(max-width:1260px) {
    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0 80px;
        }
    }
    
    .icon_text-block{
        h4{
            min-height: 72px;
        }
    }
}
@media(max-width:1180px) {

    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0 40px;
        }
    }
}
@media(max-width:1096px) {

    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0 40px;
            .icon_text-block{
                h4{
                    min-height: 101px;
                }
            }
        }
        
    }
}


@media(max-width:1080px) {
    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0 33px;

            .title-block {
                background-image: url('/images/s-icon_boxes-icons/rays.png'), url('/images/s-icon_boxes-icons/speak-icon.png');
                background-repeat: no-repeat;
                background-position: top right, 50px center;

                margin: 0 auto;
                width: 100%;
                // max-width: 1092px;
                max-width: 976px;
                padding-top: 10px;
                max-width: 745px;

                .title {
                    font-size: 36px;
                    line-height: 40px;
                }

                .subtitle {
                    max-width: 468px;
                    padding: 22px 0;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .icon_boxes {
                padding-top: 50px;
                display: flex;
                justify-content: space-between;

                :not(:first-child, :last-child) {
                    margin: 0 24px;
                }

                .icon-box {
                    // border: 1px solid red;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        padding: 12px 0 28px 0;
                        margin: 0 auto;

                        img {
                            height: 60px;
                        }
                    }

                    .icon_text-block {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 332px;

                        h4 {
                            font-family: 'Neue Machina bold';
                            padding-bottom: 14px;
                            font-size: 22px;
                            line-height: 29px;
                            letter-spacing: 0em;
                            text-align: center;
                            min-height: 101px;

                        }

                        p {
                            font-family: 'Neue Machina regular';
                            font-size: 16px;
                            text-align: center;
                            // padding-bottom: 54px; щоб бекґраунд підняти
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }
}


@media(max-width:895px) {
    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0 40px;

            .title-block {
                background-image: url('/images/s-icon_boxes-icons/rays.png'), url('/images/s-icon_boxes-icons/speak-icon.png');
                background-repeat: no-repeat;
                background-position: top right, 50px center;
                background-size: 24px;

                margin: 0 auto;
                width: 100%;
                // max-width: 1092px;
                max-width: 976px;
                padding-top: 10px;
                max-width: 745px;

                .title {
                    font-size: 30px;
                    line-height: 36px;
                }

                .subtitle {
                    max-width: 468px;
                    padding: 22px 0;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .icon_boxes {
                padding-top: 50px;
                display: flex;
                justify-content: space-between;

                :not(:first-child, :last-child) {
                    margin: 0 24px;
                }

                .icon-box {
                    // border: 1px solid red;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        // padding: 59px 0 40px 0;
                        margin: 0 auto;

                        img {
                            // height: 120px;
                        }
                    }

                    .icon_text-block {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 288px;

                        h4 {
                            font-family: 'Neue Machina bold';
                            padding-bottom: 14px;
                            font-size: 22px;
                            line-height: 29px;
                            letter-spacing: 0em;
                            text-align: center;
                            //styleName: H4 mobile;
                            // font-family: Neue Machina;
                            font-size: 18px;
                            // font-weight: 700;
                            line-height: 24px;
                            // letter-spacing: 0em;
                            // text-align: center;
                            min-height: 86px;

                        }

                        p {
                            font-family: 'Neue Machina regular';
                            font-size: 16px;
                            text-align: center;
                            // padding-bottom: 54px; щоб бекґраунд підняти
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }
}

// в колонку
@media(max-width:800px) {
    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0px 40px;

            .title-block {
                background-image: url('/images/s-icon_boxes-icons/rays.png');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 24px;

                margin: 0 auto;
                width: 100%;
                // max-width: 1092px;
                max-width: 976px;
                padding-top: 10px;
                // max-width: 745px;
                max-width: 485px;

                .title {
                    font-size: 28px;
                    line-height: 29.19px;
                }

                .subtitle {
                    max-width: 468px;
                    padding: 16px 0 0;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .icon_boxes {
                padding-top: 40px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;

                :not(:first-child, :last-child) {
                    margin: 40px 0;
                }

                .icon-box {
                    max-width: 73%;
                    // border: 1px solid red;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        padding-bottom: 16px;
                        margin: 0 auto;

                        img {
                            // height: 120px;
                        }
                    }

                    .icon_text-block {
                        margin: 0 auto;
                        width: 100%;
                        
                       

                        h4 {
                            padding-bottom: 14px;
                            font-size: 18px;
                            line-height: 24px;
                            min-height: 0;
                            padding-bottom: 8px;
                        }

                        p {
                            font-family: 'Neue Machina regular';
                            font-size: 16px;
                            text-align: center;
                            // padding-bottom: 54px; щоб бекґраунд підняти
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }
}

@media(max-width:537px) {
    .s-icon_boxes {

        // padding-top: ;
        ._container {
            padding: 0px 20px;

            .title-block {
                background-image: url('/images/s-icon_boxes-icons/rays.png');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 24px;

                margin: 0 auto;
                width: 100%;
                // max-width: 1092px;
                max-width: 976px;
                padding-top: 10px;
                // max-width: 745px;
                max-width: 422px;

                .title {
                    font-size: 28px;
                    line-height: 29.19px;
                }

                .subtitle {
                    max-width: 468px;
                    padding: 16px 0;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .icon_boxes {
                padding-top: 40px;
                display: flex;
                justify-content: space-between;

                :not(:first-child, :last-child) {
                    margin: 30px 0;
                }

                .icon-box {
                    // border: 1px solid red;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        padding: 0 0 16px 0;
                        margin: 0 auto;

                        img {
                            // height: 120px;
                        }
                    }

                    .icon_text-block {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 332px;

                        h4 {
                            // font-family: 'Neue Machina bold';
                            // padding-bottom: 14px;
                            // font-size: 22px;
                            // line-height: 29px;
                            // letter-spacing: 0em;
                            // text-align: center;


                            


                            //styleName: H4 mobile;
                            // font-family: Neue Machina;
                            font-size: 18px;
                            // font-weight: 700;
                            line-height: 24px;
                            // letter-spacing: 0em;
                            // text-align: center;

                        }

                        p {
                            font-family: 'Neue Machina regular';
                            font-size: 16px;
                            text-align: center;
                            // padding-bottom: 54px; щоб бекґраунд підняти
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }
}