.s-our-team {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 137px;
        right: 0;
        background: #482FF7;
        opacity: 0.14;
        filter: blur(100px);
        border-radius: 100px;
        transform: rotate(180deg);
        z-index: -1;
        max-width: 388px;
        width: 50%;
        height: 20%;
        @media (min-width:768px) {
            background: #F3F169;

        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 52px;
        left: 0;
        background: #F3F169;
        filter: blur(91px);
        border-radius: 100px;
        transform: rotate(180deg);
        z-index: -1;
        max-width: 388px;
        width: 40%;
        height: 30%;
        opacity: 0.14;
        @media (min-width:768px) {
        background: #482FF7;
        
        }
    }



    @media (max-width:767.98px) {
        
        >.container {
            padding-right: 0 !important;
        }
    }

    .person-item {
        text-align: left;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .slider-container {
        overflow-y: hidden;
        grid-auto-columns: minmax(282px, calc(768px/2)) !important;

        .slider-item:last-child {
            padding-right: 20px;
            box-sizing: content-box;
        }
    }

    .our-team-description-block {
        padding-right: 20px;

        >* {
            text-align: left !important;
        }

        position: relative;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 100px;
            width: 100px;
            background: url('../assets/images/s-our-team/arrow-icon-reverse.png') no-repeat center;
            background-size: cover;
            z-index: -1;
            top: 100%;
            left: 20px;
        }

        @media (min-width:768px) {
            // padding-right: 80px;

            &::after {
                top: auto;
                bottom: -60px;
                right: 0;
                left: auto;
                transform: rotateY(180deg);
            }
        }


        @media (min-width:992px) {

            &::after {
                top: 100%;
                height: 170px;
                width: 170px;
            }

            display: grid;
            grid-template-columns: 1fr 0.7fr;
            grid-template-rows: 1fr 1fr;
            gap: 50px;
            grid-auto-flow: row;
            justify-items: start;
            align-items: center;
            grid-template-areas: "title quote"
            "description quote"
            ". .";


            .our-team-heading {
                padding-right: 55px;
                grid-area: title;
            }

            .our-team-description {
                padding-right: 55px;
                grid-area: description;
            }

            .quote-block {
                grid-area: quote;
            }

        }
    }

    .block-heading {
        padding-bottom: 22px;
    }

    .our-team-photo-container {
        padding-top: 125px;

        @media (min-width:768px) {
            padding-top: 80px;
        }
    }

    .quote-block {
        display: none;

        @media (min-width:992px) {
            display: block;
            max-width: 420px;
        }
    }


    .our-team-description {
        padding-right: 10%;
    }


    .our-team-static {
        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
            display: grid;
            gap: 35px;
            justify-items: center;
        }

        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr 180px;
            grid-auto-flow: row;
            grid-template-areas:
                ". center-block ."
                "left-block center-block ."
                "left-block center-block ."
                "left-block . .";

            .left-block {
                grid-area: left-block;
            }

            .center-block {
                grid-area: center-block;
            }
        }
    }
}