.s-purpose {
    ._container {
        padding: 120px 0 60px 100px;

        &.reverse {
            padding: 120px 120px 60px 0;

        }

        .purpose-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &.reverse {
                flex-direction: row-reverse;

                .text-block {
                    max-width: 482px;

                    .top-text-block {
                        max-width: 482px;
                    }
                }

                .image-block {
                    padding: 0 40px 0 0;
                }
            }

            .text-block {
                max-width: 450px;

                .top-text-block {
                    max-width: 402px;

                    * {
                        text-align: left;
                    }

                    .title {
                        padding: 22px 0;
                    }
                }
            }

            .image-block {
                padding-left: 40px;

                img {
                    min-width: 335px;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .s-purpose {
        ._container {
            padding: 120px 0 60px 60px;

            &.reverse {
                padding: 120px 60px 60px 0;

            }
        }
    }
}

@media (max-width:1072px) {
    .s-purpose {
        ._container {
            padding: 60px 0 30px 30px;

            &.reverse {
                padding: 60px 30px 30px 0;

            }

            .purpose-block {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &.reverse {
                    flex-direction: row-reverse;

                    .text-block {
                        max-width: 482px;

                        .top-text-block {
                            max-width: 482px;
                        }
                    }

                    .image-block {
                        padding: 0 40px 0 0;
                    }
                }

                .text-block {
                    max-width: 400px;

                    .top-text-block {
                        max-width: 402px;

                        * {
                            text-align: left;
                        }

                        .subheading {
                            font-size: 17px;
                            line-height: 24px;
                        }

                        .title {
                            padding: 10px 0;
                            font-size: 38px;
                            line-height: 43px;
                        }
                    }

                    .regular-text {
                        font-size: 17px;
                        line-height: 24px;
                    }
                }

                .image-block {
                    padding-left: 40px;

                    img {
                        min-width: 335px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width:720px) {
    .s-purpose {
        ._container {
            padding: 0px 20px 0px 20px;

            &.reverse {
                padding: 0px 20px 0px 20px;

            }

            .purpose-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                // flex-direction: column-reverse;
                &.reverse {
                    flex-direction: column;

                    .text-block {
                        max-width: 450px;

                        .top-text-block {
                            max-width: 402px;

                            * {
                                text-align: left;
                            }

                            .subheading {
                                font-size: 16px;
                                line-height: 23px;

                            }

                            .title {
                                font-size: 28px;
                                line-height: 29px;
                                padding: 14px 0 16px;
                            }
                        }

                        .regular-text {
                            font-size: 14px;
                            line-height: 20px;

                        }
                    }

                    .image-block {
                        padding: 30px 0 40px;
                        @media(max-width: 581.98px){
                            padding: 30px 0 20px;
                        }
                        // padding-left: 0px;

                        img {
                            min-width: 280px;
                            // max-width: 100%;
                            height: auto;
                        }
                    }
                }

                .text-block {
                    max-width: 450px;

                    .top-text-block {
                        max-width: 402px;

                        * {
                            text-align: left;
                        }

                        .subheading {
                            font-size: 16px;
                            line-height: 23px;

                        }

                        .title {
                            font-size: 28px;
                            line-height: 29px;
                            padding: 14px 0 16px;
                        }
                    }

                    .regular-text {
                        font-size: 14px;
                        line-height: 20px;

                    }
                }

                .image-block {
                    padding: 30px 0 60px;
                    // padding-left: 0px;

                    img {
                        min-width: 280px;
                        // max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}