.s-video {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 250px;
        right: 0;
        opacity: 0.6;
        background: #482FF7;;
        filter: blur(170px);
        border-radius: 100px;
        transform: rotate(180deg);
        z-index: -1;
        max-width: 388px;
        width: 70%;
        height: 20%;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        background: #F3F169;
        filter: blur(161px);
        border-radius: 100px;
        transform: rotate(180deg);
        z-index: -1;
        max-width: 388px;
        width: 50%;
        height: 38%;
        opacity: 0.9;
    }
    .container{
        @media (min-width:1240px) {
            padding: 0 120px;
        }
    }
    .video-element{
        cursor: pointer;
        width: 100%;
        border-radius: 12px;
    }
}