// * {
//     outline: 1px solid #f00 !important;
//   }
@import 'fonts';
@import 'colors';

@import 'header';

@import 'c-mobile-menu';
@import 'c-langauge-block';
@import 'c-buttons';
@import 'c-text-elements';


@import 's-hero';
@import 's-video';
@import 's-icon-boxes';
@import 's-small-cta';
@import 's-image-text';
@import 's-donate';
@import 's-our-team';
@import 's-inf-carousel';
@import 's-faq';
@import 's-big-cta';
@import 's-footer';


html {
    scroll-behavior: smooth
}

;

*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'Neue Machina';
    color: #000;
    min-height: 100vh;
    position: relative;
    // overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

    @media (min-width:768px) {
        padding: 0 40px;
    }

    @media (min-width:1240px) {
        padding: 0 60px;
    }
}

.section-wrapper {
    padding: 40px 0;
    // padding: 65px 0 15px;

    @media (min-width:768px) {
        padding: 50px 0;
        // padding: 70px 0 30px;
    }

    @media (min-width:992px) {
        padding: 60px 0;
        // padding: 80px 0 20px;
    }

}

section[id^='s-'] {
    scroll-margin-top: 60px;

    @media (min-width:768px) {
        scroll-margin-top: 80px;
    }
}