@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Bold.eot");
  src: url("../assets/fonts-files/NeueMachina-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Bold.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Bold.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Bold.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Bold.svg#NeueMachina-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina regular";
  src: url("../assets/fonts-files/NeueMachina-Regular.eot");
  src: url("../assets/fonts-files/NeueMachina-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Regular.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Regular.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Regular.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Regular.svg#NeueMachina-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina medium";
  src: url("../assets/fonts-files/NeueMachina-Medium.eot");
  src: url("../assets/fonts-files/NeueMachina-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Medium.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Medium.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Medium.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Medium.svg#NeueMachina-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Ultrabold.eot");
  src: url("../assets/fonts-files/NeueMachina-Ultrabold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Ultrabold.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Ultrabold.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Ultrabold.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Ultrabold.svg#NeueMachina-Ultrabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina bold";
  src: url("../assets/fonts-files/NeueMachina-Bold_1.eot");
  src: url("../assets/fonts-files/NeueMachina-Bold_1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Bold_1.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Bold_1.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Bold_1.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Bold_1.svg#NeueMachina-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Medium_1.eot");
  src: url("../assets/fonts-files/NeueMachina-Medium_1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Medium_1.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Medium_1.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Medium_1.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Medium_1.svg#NeueMachina-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Regular_1.eot");
  src: url("../assets/fonts-files/NeueMachina-Regular_1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Regular_1.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Regular_1.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Regular_1.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Regular_1.svg#NeueMachina-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Ultrabold_1.eot");
  src: url("../assets/fonts-files/NeueMachina-Ultrabold_1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Ultrabold_1.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Ultrabold_1.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Ultrabold_1.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Ultrabold_1.svg#NeueMachina-Ultrabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina bold";
  src: url("../assets/fonts-files/NeueMachina-Bold_2.eot");
  src: url("../assets/fonts-files/NeueMachina-Bold_2.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Bold_2.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Bold_2.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Bold_2.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Bold_2.svg#NeueMachina-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina ultrabold";
  src: url("../assets/fonts-files/NeueMachina-Ultrabold_2.eot");
  src: url("../assets/fonts-files/NeueMachina-Ultrabold_2.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Ultrabold_2.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Ultrabold_2.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Ultrabold_2.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Ultrabold_2.svg#NeueMachina-Ultrabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Medium_2.eot");
  src: url("../assets/fonts-files/NeueMachina-Medium_2.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Medium_2.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Medium_2.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Medium_2.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Medium_2.svg#NeueMachina-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts-files/NeueMachina-Regular_2.eot");
  src: url("../assets/fonts-files/NeueMachina-Regular_2.eot?#iefix") format("embedded-opentype"), url("../assets/fonts-files/NeueMachina-Regular_2.woff2") format("woff2"), url("../assets/fonts-files/NeueMachina-Regular_2.woff") format("woff"), url("../assets/fonts-files/NeueMachina-Regular_2.ttf") format("truetype"), url("../assets/fonts-files/NeueMachina-Regular_2.svg#NeueMachina-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  padding: 20px 0 10px;
  box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  header {
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  header .container {
    padding: 0px 20px;
  }
}
@media (min-width: 1240px) {
  header .container {
    padding: 0 60px;
  }
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  header .header-container {
    position: relative;
  }
}
header .header-container .logo-block {
  text-align: left;
  flex: 0 1 168px;
}
header .header-container .lang-block {
  display: none;
}
header .header-container .lang-block .lang-item {
  color: black;
}
header .header-container .lang-block path {
  stroke: black !important;
}
header .header-container .black-btn {
  display: none;
}
@media (min-width: 992px) {
  header .header-container .black-btn {
    display: inline-block;
    padding: 12px 10px;
    margin-left: 85px;
  }
  header .header-container .lang-block {
    display: inline-flex;
    right: 144px;
    top: 3px;
    left: auto;
  }
}
@media (min-width: 1240px) {
  header .header-container .black-btn {
    flex: 0 1 168px;
  }
  header .header-container .lang-block {
    top: 6px;
    right: 196px;
  }
}
header .logo-link {
  display: inline-block;
}
header .logo-link img {
  max-height: 30px;
}
@media (min-width: 768px) {
  header .logo-link img {
    max-height: 37px;
  }
}
@media (min-width: 1240px) {
  header .logo-link img {
    max-height: 46px;
  }
}
header .laptop-menu-list {
  display: none;
}
@media (min-width: 992px) {
  header .laptop-menu-list {
    display: flex;
    gap: 20px;
  }
}
@media (min-width: 1240px) {
  header .laptop-menu-list {
    gap: 32px;
  }
}

.mobile-hamburger {
  height: 24px;
}
@media (min-width: 992px) {
  .mobile-hamburger {
    display: none;
  }
}
.mobile-hamburger .hamburger-svg {
  height: 30px;
  width: 30px;
  stroke-width: 1.3px;
}

.mobile-menu {
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: -110vw;
  width: 100%;
  z-index: 100;
  min-height: 100vh;
  background-color: rgb(72, 47, 247);
  transition: all 0.5s ease-in-out;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    right: -375px;
    width: 375px;
  }
}
.mobile-menu.open {
  right: 0;
  transition: all 0.5s ease-in-out;
}
.mobile-menu .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mobile-menu .menu-top-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.mobile-menu .svg-close {
  height: 30px;
}
.mobile-menu .menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 86px, 68px;
  background-position: top center, bottom center;
  background-image: url("../assets/images/s-header/yellow-flower-icon4.png"), url("../assets/images/s-header/yellow-arrow-icon.png");
}
.mobile-menu .mobile-menu-list {
  padding: 115px 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.mobile-menu .mobile-menu-list .menu-item-link {
  color: white;
}
.mobile-menu .btn-container {
  padding: 20px 40px;
  width: 100%;
}
.mobile-menu .btn-container .black-btn {
  width: 100%;
  max-width: 350px;
}

.lang-block {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  max-height: 34px;
  overflow: hidden;
}
.lang-block:hover {
  max-height: none;
}
.lang-block .lang-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid rgb(214, 214, 215);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  order: 2;
}
@media (min-width: 992px) {
  .lang-block .lang-item {
    background-color: #fff;
  }
}
.lang-block .lang-item .lang-link {
  margin-right: 6px;
  height: 20px;
  width: 30px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.lang-block .lang-item .lang-link.ua {
  background-image: url("../assets/images/s-header/ua-flag.jpg");
}
.lang-block .lang-item .lang-link.uk {
  background-image: url("../assets/images/s-header/gb-flag.webp");
}
.lang-block .lang-item.active {
  order: 1;
}
.lang-block .lang-item.active a {
  pointer-events: none;
}
.lang-block .lang-item.active span {
  display: none;
}
.lang-block .lang-item.active svg {
  display: block;
}
.lang-block .lang-item span {
  display: block;
}
.lang-block .lang-item svg {
  display: none;
}

.black-btn {
  display: inline-block;
  padding: 13.5px 33.5px;
  background-color: #0F0B30;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s ease;
}
.black-btn:hover {
  transition: all 0.2s ease;
  background-color: #342c85;
}

.blue-btn {
  display: inline-block;
  padding: 13.5px 33.5px;
  background-color: #482FF7;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  border-radius: 4px;
  text-align: center;
  width: 275px;
  transition: all 0.2s ease;
}
@media (min-width: 768px) {
  .blue-btn {
    width: 219px;
  }
}
.blue-btn:hover {
  transition: all 0.2s ease;
  background-color: #160588;
}

.donate-btn {
  font-family: "Neue Machina bold";
  font-size: 14px;
  line-height: 146%;
  border-radius: 4px;
  padding: 17px 20px 14px;
  display: inline-block;
  text-align: left;
  width: 100%;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 375px) {
  .donate-btn {
    font-size: 16px;
  }
}
.donate-btn.acc-switch::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/s-donate/plus-close.png");
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
.donate-btn.acc-switch.active::after {
  transform: rotate(180deg);
}

.img-btn {
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.img-btn.copy-btn {
  background-size: 18px;
  height: 25px;
  width: 25px;
  background-image: url("../assets/images/s-donate/copy-icon.jpg");
}
.img-btn:hover {
  transform: scale(1.1);
}
.img-btn:active {
  transform: scale(0.8);
}
.img-btn.link-btn {
  background-size: 23px;
  height: 26px;
  width: 26px;
  background-image: url("../assets/images/s-donate/link-icon.jpg");
}
.img-btn.link-btn a {
  display: block;
  height: 100%;
}

.faq-btn {
  font-family: "Neue Machina bold";
  font-size: 16px;
  line-height: 132%;
  padding-right: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .faq-btn {
    font-size: 18px;
  }
}
@media (min-width: 992) {
  .faq-btn {
    font-size: 22px;
  }
}
.faq-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 28px;
  right: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/s-faq/plus.png");
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (min-width: 768px) {
  .faq-btn::after {
    top: 39px;
  }
}
.faq-btn.active::after {
  transform: rotate(135deg);
}

.menu-item-link {
  transition: 0.2s all ease;
}
.menu-item-link:hover {
  text-shadow: 0.5px 0px 0px #000;
  transition: 0.2s all ease;
}

.main-heading {
  font-family: "Neue Machina bold";
  font-size: 40px;
  line-height: 104%;
  letter-spacing: 0em;
  text-align: center;
}
@media (min-width: 768px) {
  .main-heading {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .main-heading {
    font-size: 60px;
  }
}
@media (min-width: 1240px) {
  .main-heading {
    font-size: 90px;
  }
}

.block-heading {
  font-family: "Neue Machina bold";
  font-size: 28px;
  line-height: 112%;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .block-heading {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .block-heading {
    font-size: 48px;
  }
}

.blue-subheading {
  font-family: "Neue Machina bold";
  font-size: 16px;
  line-height: 146%;
  text-align: center;
  color: #2D6CDF;
}
@media (min-width: 768px) {
  .blue-subheading {
    font-size: 20px;
  }
}

.regular-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
}
.regular-text.bolder {
  font-family: "Neue Machina bold";
}
@media (min-width: 768px) {
  .regular-text {
    font-size: 20px;
  }
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .small-text {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .small-text {
    font-size: 20px;
  }
}

.element-heading {
  font-family: "Neue Machina bold";
  font-size: 18px;
  line-height: 132%;
  text-align: center;
}
@media (min-width: 992px) {
  .element-heading {
    font-size: 22px;
  }
}

.c-label {
  padding-top: 24px;
  font-size: 16px;
  line-height: 144%;
  text-align: left;
}
.c-label .bolder {
  font-family: "Neue Machina bold";
}
.c-label .bolder.n-line {
  display: block;
}

.quote {
  font-family: "Neue Machina bold";
  font-size: 24px;
  line-height: 136%;
}

.heading-description__block * {
  text-align: left !important;
}
.heading-description__block .block-heading {
  padding-bottom: 16px;
}
.heading-description__block .regular-text {
  padding-right: 25%;
}

.cta-heading {
  font-family: "Neue Machina bold";
  font-size: 15vw;
  line-height: 87%;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1240px) {
  .cta-heading {
    font-size: 220px;
  }
}

.copyright-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 146%;
  color: rgba(15, 11, 48, 0.6);
  display: inline-block;
}
.copyright-text.underline {
  text-decoration: underline;
  transition: 0.2s all ease;
}
.copyright-text.underline:hover {
  text-shadow: 0.5px 0px 0px #000;
  transition: 0.2s all ease;
}
@media (min-width: 768px) {
  .copyright-text {
    font-size: 16px;
  }
}

.s-hero {
  position: relative;
}
.s-hero::before {
  content: "";
  position: absolute;
  top: 289px;
  right: 0;
  background: #482FF7;
  opacity: 0.6;
  filter: blur(170px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 70%;
  height: 50%;
}
.s-hero::after {
  content: "";
  position: absolute;
  top: 252px;
  left: 0;
  background: #F3F169;
  filter: blur(161px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 50%;
  height: 50%;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .s-hero::after, .s-hero::before {
    opacity: 0.7;
  }
}
@media (min-width: 992px) {
  .s-hero {
    padding-top: 80px !important;
  }
  .s-hero::after {
    left: 13%;
  }
  .s-hero::before {
    right: 21%;
  }
}
.s-hero .container {
  padding: 0 26px;
  width: 100%;
}
.s-hero .container > *:not(:last-child) {
  padding: 0 0 16px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .s-hero .container > *:not(:last-child) {
    padding: 0 0 30px;
  }
}
.s-hero .main-heading {
  padding: 40px 0;
  position: relative;
}
@media (min-width: 768px) {
  .s-hero .main-heading {
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .s-hero .main-heading {
    max-width: 75%;
  }
}
@media (min-width: 1240px) {
  .s-hero .main-heading {
    max-width: 81%;
  }
}
.s-hero .main-heading::after, .s-hero .main-heading::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  display: inline-block;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}
.s-hero .main-heading::after {
  background-image: url("../assets/images/s-hero/rays.png");
  top: -20px;
  left: 0;
}
@media (min-width: 992px) {
  .s-hero .main-heading::after {
    height: 40px;
    width: 40px;
  }
}
.s-hero .main-heading::before {
  background-image: url("../assets/images/s-hero/blue-sun.png");
  bottom: 12px;
  right: -17px;
  animation: rotating 15s linear infinite;
}
@media (min-width: 992px) {
  .s-hero .main-heading::before {
    height: 58px;
    width: 58px;
  }
}
.s-hero .regular-text {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .s-hero .regular-text {
    max-width: 882px;
  }
}
.s-hero .btn-container {
  text-align: center;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.s-video {
  position: relative;
}
.s-video::before {
  content: "";
  position: absolute;
  bottom: 250px;
  right: 0;
  opacity: 0.6;
  background: #482FF7;
  filter: blur(170px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 70%;
  height: 20%;
}
.s-video::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 0;
  background: #F3F169;
  filter: blur(161px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 50%;
  height: 38%;
  opacity: 0.9;
}
@media (min-width: 1240px) {
  .s-video .container {
    padding: 0 120px;
  }
}
.s-video .video-element {
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 767.98px) {
  .s-icon-boxes .container {
    padding: 0 38px;
  }
}
.s-icon-boxes .top-block {
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .s-icon-boxes .top-block {
    padding-bottom: 60px;
  }
}
.s-icon-boxes .top-block .block-heading {
  padding-bottom: 16px;
  max-width: 1092px;
  position: relative;
}
.s-icon-boxes .top-block .block-heading::after {
  top: -28px;
  right: -15px;
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  display: inline-block;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url("../assets/images/s-icon_boxes-icons/rays.png");
  background-size: contain;
}
@media (min-width: 375px) {
  .s-icon-boxes .top-block .block-heading::after {
    right: -10px;
  }
}
@media (min-width: 768px) {
  .s-icon-boxes .top-block .block-heading {
    padding-bottom: 22px;
  }
}
.s-icon-boxes .top-block .small-text {
  max-width: 484px;
  position: relative;
}
@media (min-width: 768px) {
  .s-icon-boxes .top-block .small-text::before {
    top: -28px;
    left: -40px;
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    display: inline-block;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("../assets/images/s-icon_boxes-icons/speak-icon.png");
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .s-icon-boxes .top-block .small-text {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.s-icon-boxes .cards-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 14px;
}
@media (min-width: 767.98px) {
  .s-icon-boxes .cards-holder {
    padding: 0;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .s-icon-boxes .cards-holder .card-item {
    flex: 0 1 32%;
  }
}
.s-icon-boxes .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
}
.s-icon-boxes .card-item .card-icon {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-icon-boxes .card-item .element-heading {
  min-height: 40px;
  padding: 16px 0 8px;
}
@media (min-width: 767.98px) {
  .s-icon-boxes .card-item .element-heading {
    padding: 30px 0 20px;
    min-height: 130px;
  }
}

.s-small-cta {
  position: relative;
}
.s-small-cta::before {
  content: "";
  position: absolute;
  top: 90px;
  right: 0;
  background: #482FF7;
  opacity: 0.6;
  filter: blur(100px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 70%;
  height: 50%;
}
@media (min-width: 992px) {
  .s-small-cta::before {
    filter: blur(301px);
  }
}
.s-small-cta::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 0;
  background: #F3F169;
  filter: blur(100px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 50%;
  height: 50%;
  opacity: 0.6;
}
@media (min-width: 992px) {
  .s-small-cta::after {
    filter: blur(220px);
  }
}
.s-small-cta .small-cta-wrapper {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 8px 4px 77px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: top 26px right 30px;
  background-size: 29px;
  background-image: url("../assets/images/s-small-cta/paper-plane.png");
}
@media (min-width: 768px) {
  .s-small-cta .small-cta-wrapper {
    background-position: top 40px right 40px;
    background-size: 40px;
    padding: 50px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .s-small-cta .small-cta-wrapper {
    background-position: top 40px left 40px;
    padding: 80px 100px;
    background-size: 60px;
  }
}
@media (min-width: 1240px) {
  .s-small-cta .small-cta-wrapper {
    padding: 100px 120px;
  }
}
.s-small-cta .progress-block {
  flex: 2;
  padding: 32px 0;
  position: relative;
}
.s-small-cta .progress-block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -70%;
  display: none;
  height: 110px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/images/s-small-cta/black-arrow.png");
}
@media (min-width: 768px) {
  .s-small-cta .progress-block::after {
    display: inline-block;
  }
}
.s-small-cta .svg-cont {
  margin: 0 auto;
  width: 243px;
  height: 243px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .s-small-cta .svg-cont {
    width: 263px;
    height: 263px;
    margin-right: 0;
  }
}
.s-small-cta .svg-cont h4 {
  font-family: "Neue Machina medium";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0em;
}
.s-small-cta .svg-cont h2 {
  padding: 12px 0 6px;
  font-family: "Neue Machina bold";
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0em;
  color: rgb(72, 47, 247);
}
.s-small-cta .svg-cont h5 {
  font-family: "Neue Machina medium";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(15, 11, 48, 0.4);
}
.s-small-cta .svg-cont svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.s-small-cta .svg-cont svg .circle {
  fill: none;
  stroke-width: 12px;
  stroke: rgb(243, 241, 105);
  stroke-dasharray: 251.3276 1256.638;
}
.s-small-cta .svg-cont svg .circle-bg {
  fill: none;
  stroke-width: 12px;
  stroke: rgba(15, 11, 48, 0.1);
}
.s-small-cta .purpose-block {
  text-align: left;
}
.s-small-cta .purpose-block .blue-btn {
  display: none;
}
@media (min-width: 768px) {
  .s-small-cta .purpose-block .blue-btn {
    margin-top: 20px;
    display: inline-block;
    text-align: center !important;
  }
}
.s-small-cta .purpose-heading {
  font-family: "Neue Machina bold";
  font-size: 24px;
  line-height: 122.5%;
}
@media (min-width: 768px) {
  .s-small-cta .purpose-heading {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .s-small-cta .purpose-heading {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .s-small-cta .btn-container {
    display: none;
  }
}

.s-image-text .container {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .s-image-text .container {
    padding: 0 0 40px 40px;
  }
}
@media (min-width: 992px) {
  .s-image-text .container {
    padding: 0 0 40px 80px;
  }
}
@media (min-width: 1240px) {
  .s-image-text .container {
    padding: 0 0 60px 120px;
  }
}
@media (min-width: 768px) {
  .s-image-text .container.reverse {
    padding: 0 40px 40px 0;
  }
}
@media (min-width: 992px) {
  .s-image-text .container.reverse {
    padding: 0 80px 40px 0;
  }
}
@media (min-width: 1240px) {
  .s-image-text .container.reverse {
    padding: 0 120px 60px 0;
  }
}
.s-image-text .image-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .s-image-text .image-text-wrapper {
    gap: 40px;
    flex-direction: row;
  }
  .s-image-text .image-text-wrapper.reverse {
    flex-direction: row-reverse;
  }
}
.s-image-text .text-block {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s-image-text .text-block.reverse {
  align-items: flex-end;
}
@media (min-width: 768px) {
  .s-image-text .text-block .text-block-inner {
    max-width: 482px;
  }
  .s-image-text .text-block .text-block-inner > * {
    text-align: left;
    max-width: 450px;
    margin: 0;
  }
}
.s-image-text .text-block .text-block-inner > * {
  text-align: left;
  margin: 0;
}
.s-image-text .text-block .block-heading {
  padding: 14px 0 16px;
}
.s-image-text .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
}

.s-donate {
  position: relative;
}
.s-donate::before {
  content: "";
  position: absolute;
  top: 150px;
  right: 30%;
  background: #482FF7;
  opacity: 0.6;
  filter: blur(188px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -2;
  max-width: 388px;
  width: 50%;
  height: 100%;
  max-height: 318px;
}
@media (min-width: 768px) {
  .s-donate::before {
    top: 100px;
  }
}
.s-donate .container {
  padding: 0 20px !important;
}
.s-donate .block-heading {
  padding: 0 78px 40px 0;
  text-align: left;
  position: relative;
  z-index: 1;
}
@media (min-width: 600px) {
  .s-donate .block-heading {
    text-align: center;
    padding: 0 0 40px;
  }
}
@media (min-width: 992px) {
  .s-donate .block-heading {
    padding: 0 0 60px;
  }
}
.s-donate .s-donate-inner {
  border-radius: 12px;
  padding: 40px 30px;
  background-color: rgb(240, 250, 252);
  border: 2px solid #fff;
  box-shadow: 0px 4px 64px rgba(15, 11, 48, 0.08);
  position: relative;
}
@media (min-width: 768px) {
  .s-donate .s-donate-inner {
    padding: 160px 30px 40px;
  }
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner {
    padding: 230px 60px 60px;
  }
}
@media (min-width: 1240px) {
  .s-donate .s-donate-inner {
    padding: 230px 80px 80px;
  }
}
.s-donate .s-donate-inner::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 33px;
  width: 46px;
  top: 50px;
  right: 30px;
  background: url("../assets/images/s-donate/money-icon.jpg") no-repeat;
  background-size: contain;
}
@media (min-width: 375px) {
  .s-donate .s-donate-inner::after {
    top: 40px;
    height: 47px;
    width: 66px;
  }
}
@media (min-width: 768px) {
  .s-donate .s-donate-inner::after {
    height: 69px;
    width: 94px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner::after {
    height: 78px;
    width: 111px;
  }
}
.s-donate .s-donate-inner .laptop-donate-wrapper {
  text-align: left;
  display: none;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .laptop-donate-wrapper {
    display: block;
  }
}
.s-donate .s-donate-inner .mobile-donate-wrapper {
  text-align: left;
}
.s-donate .s-donate-inner .mobile-donate-wrapper .donate-btn {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .s-donate .s-donate-inner .mobile-donate-wrapper {
    margin: 0 auto;
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .mobile-donate-wrapper {
    display: none;
  }
}
.s-donate .s-donate-inner .tab-wrapper {
  width: 100%;
}
.s-donate .s-donate-inner .payment-details-blocks {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.s-donate .s-donate-inner .payment-details-blocks.active {
  max-height: none;
  transition: all 0.2s ease-out;
}
.s-donate .s-donate-inner .payment-details-blocks .payment-details-block-item:not(:first-child) {
  padding-top: 40px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-details-blocks {
    max-height: -moz-fit-content;
    max-height: fit-content;
    justify-content: space-between;
    min-height: 330px;
    display: none;
  }
  .s-donate .s-donate-inner .payment-details-blocks.first {
    display: flex;
  }
}
.s-donate .s-donate-inner .payment-details-blocks .payment-details-block-item {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-details-blocks .payment-details-block-item {
    max-width: 47%;
  }
}
.s-donate .s-donate-inner .payment-details-block-item {
  padding-top: 30px;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-details-block-item {
    padding: 68px 0 0px !important;
  }
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__title {
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(15, 11, 48, 0.2);
  font-family: "Neue Machina bold";
  font-size: 18px;
  line-height: 132%;
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body {
  padding-top: 24px;
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body > :not(:last-child) {
  padding-bottom: 6px;
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body .payment-name {
  font-size: 12px;
  line-height: 146%;
  text-align: left;
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body .payment-name .bolder {
  font-family: "Neue Machina bold";
  overflow-wrap: break-word;
}
@media (min-width: 768px) {
  .s-donate .s-donate-inner .payment-details-block-item .payment-block__body .payment-name {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-details-block-item .payment-block__body .payment-name {
    font-size: 18px;
  }
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body .credit-card {
  font-family: "Neue Machina bold";
  font-size: 18px;
  line-height: 146%;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-details-block-item .payment-block__body .credit-card {
    font-size: 24px;
  }
}
.s-donate .s-donate-inner .payment-details-block-item .payment-block__body .payment-name-medium {
  font-family: "Neue Machina medium";
  font-size: 16px;
  line-height: 146%;
  overflow-wrap: break-word;
}
.s-donate .s-donate-inner .payment-detail-copy {
  position: relative;
  padding-right: 30px;
}
.s-donate .s-donate-inner .payment-detail-link {
  position: relative;
  padding-right: 30px;
}
.s-donate .s-donate-inner .payment-switch-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .s-donate .s-donate-inner .payment-switch-block {
    flex-direction: row;
    border-bottom: 1px solid rgb(72, 47, 247);
  }
  .s-donate .s-donate-inner .payment-switch-block .donate-btn {
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    padding: 17px 0 14px;
  }
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn {
  transition: 0.2s all ease;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn:hover {
  transition: 0.2s all ease;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.active {
  max-height: -moz-max-content;
  max-height: max-content;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.first {
  background-color: #482FF7;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.first:hover {
  background-color: #2509ea;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.second {
  background-color: #2D6CDF;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.second:hover {
  background-color: #1d55bc;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.third {
  background-color: #46C3DB;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.third:hover {
  background-color: #27adc7;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.fourth {
  background-color: #0F0B30;
}
.s-donate .s-donate-inner .payment-switch-block .donate-btn.fourth:hover {
  background-color: #020107;
}

.s-our-team {
  position: relative;
}
.s-our-team::before {
  content: "";
  position: absolute;
  top: 137px;
  right: 0;
  background: #482FF7;
  opacity: 0.14;
  filter: blur(100px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 50%;
  height: 20%;
}
@media (min-width: 768px) {
  .s-our-team::before {
    background: #F3F169;
  }
}
.s-our-team::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 0;
  background: #F3F169;
  filter: blur(91px);
  border-radius: 100px;
  transform: rotate(180deg);
  z-index: -1;
  max-width: 388px;
  width: 40%;
  height: 30%;
  opacity: 0.14;
}
@media (min-width: 768px) {
  .s-our-team::after {
    background: #482FF7;
  }
}
@media (max-width: 767.98px) {
  .s-our-team > .container {
    padding-right: 0 !important;
  }
}
.s-our-team .person-item {
  text-align: left;
}
.s-our-team .person-item img {
  height: 100%;
  width: 100%;
}
.s-our-team .slider-item {
  margin-top: 30px;
}
.s-our-team .slider-container {
  overflow-y: hidden;
  grid-auto-columns: minmax(282px, 384px) !important;
}
.s-our-team .slider-container .slider-item:last-child {
  padding-right: 20px;
  box-sizing: content-box;
}
.s-our-team .our-team-description-block {
  padding-right: 20px;
  position: relative;
}
.s-our-team .our-team-description-block > * {
  text-align: left !important;
}
.s-our-team .our-team-description-block::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100px;
  width: 100px;
  background: url("../assets/images/s-our-team/arrow-icon-reverse.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  top: 100%;
  left: 20px;
}
@media (min-width: 768px) {
  .s-our-team .our-team-description-block::after {
    top: auto;
    bottom: -60px;
    right: 0;
    left: auto;
    transform: rotateY(180deg);
  }
}
@media (min-width: 992px) {
  .s-our-team .our-team-description-block {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: row;
    justify-items: start;
    align-items: center;
    grid-template-areas: "title quote" "description quote" ". .";
  }
  .s-our-team .our-team-description-block::after {
    top: 100%;
    height: 170px;
    width: 170px;
  }
  .s-our-team .our-team-description-block .our-team-heading {
    padding-right: 55px;
    grid-area: title;
  }
  .s-our-team .our-team-description-block .our-team-description {
    padding-right: 55px;
    grid-area: description;
  }
  .s-our-team .our-team-description-block .quote-block {
    grid-area: quote;
  }
}
.s-our-team .block-heading {
  padding-bottom: 22px;
}
.s-our-team .our-team-photo-container {
  padding-top: 125px;
}
@media (min-width: 768px) {
  .s-our-team .our-team-photo-container {
    padding-top: 80px;
  }
}
.s-our-team .quote-block {
  display: none;
}
@media (min-width: 992px) {
  .s-our-team .quote-block {
    display: block;
    max-width: 420px;
  }
}
.s-our-team .our-team-description {
  padding-right: 10%;
}
@media (min-width: 768px) {
  .s-our-team .our-team-static {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 35px;
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .s-our-team .our-team-static {
    grid-template-columns: 1fr 1fr 180px;
    grid-auto-flow: row;
    grid-template-areas: ". center-block ." "left-block center-block ." "left-block center-block ." "left-block . .";
  }
  .s-our-team .our-team-static .left-block {
    grid-area: left-block;
  }
  .s-our-team .our-team-static .center-block {
    grid-area: center-block;
  }
}

#slider-container {
  height: 62px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  padding: 20px 0;
}
#slider-container .slider {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
}
#slider-container .slider-instant {
  transition: none;
}
#slider-container .slider-animate {
  margin-left: 0;
}
#slider-container .slider-extra {
  display: flex;
  flex-flow: row nowrap;
}
#slider-container .slider-last {
  min-width: 100vw;
  max-width: 100vw;
}
#slider-container .slider span {
  margin-right: 30px;
  background-color: #fff;
}
#slider-container .slider .slider-extra {
  margin-right: 0;
}
#slider-container .slider-img {
  width: 125px;
  height: 62px;
  background-position: center;
  background-size: 39px;
  box-shadow: 0px 0.885714px 30.5571px rgba(51, 37, 149, 0.1);
  background-repeat: no-repeat;
  border-radius: 12px;
}
@media (min-width: 768px) {
  #slider-container {
    height: 91px;
    padding: 40px 0;
  }
  #slider-container .slider-img {
    width: 184px;
    height: 91px;
    background-size: 56px;
  }
}
@media (min-width: 992px) {
  #slider-container {
    height: 140px;
  }
  #slider-container .slider-img {
    width: 282px;
    height: 140px;
    background-size: 87px;
  }
}

@media (min-width: 768px) {
  .s-faq .container {
    padding: 0 72px;
  }
}
@media (min-width: 992px) {
  .s-faq .faq-inner {
    display: flex;
  }
}
.s-faq .heading-description__block {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .s-faq .heading-description__block {
    padding-bottom: 46px;
  }
}
@media (min-width: 992px) {
  .s-faq .heading-description__block {
    max-width: 380px;
    padding-right: 6%;
    box-sizing: content-box;
  }
  .s-faq .heading-description__block .regular-text {
    padding-right: 0;
  }
}

.faq-accordion {
  border: 1px solid rgb(15, 11, 48);
  border-right: none;
  border-bottom: none;
  border-left: none;
  text-align: left;
}
.faq-accordion .accordion-item::after {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid rgb(15, 11, 48);
}
.faq-accordion .accordion {
  padding: 24px 0 22px;
  padding-right: 50px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .faq-accordion .accordion {
    padding: 34px 50px 32px 0;
  }
}
.faq-accordion .panel {
  margin-bottom: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq-accordion .panel * {
  font-size: 13px;
}
@media (min-width: 768px) {
  .faq-accordion .panel * {
    font-size: 16px;
  }
}
.faq-accordion .faq-list .list-heading {
  font-family: "Neue Machina bold";
}
.faq-accordion .faq-list li {
  font-weight: 400;
  font-size: 13px;
  line-height: 146%;
}
.faq-accordion .faq-list li:not(:last-child) {
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .faq-accordion .faq-list li {
    font-size: 16px;
  }
  .faq-accordion .faq-list li:not(:last-child) {
    padding-bottom: 10px;
  }
}

.s-big-cta .big-cta-inner {
  color: #fff;
  border-radius: 12px;
  background-color: rgb(72, 47, 247);
  padding: 70px 20px 40px;
}
@media (min-width: 375px) {
  .s-big-cta .big-cta-inner {
    padding: 70px 40px 40px;
  }
}
@media (min-width: 768px) {
  .s-big-cta .big-cta-inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .s-big-cta .big-cta-inner {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1240px) {
  .s-big-cta .big-cta-inner {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}
.s-big-cta .cta-heading {
  padding: 6px 11px 16px 11px;
  max-width: -moz-min-content;
  max-width: min-content;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 30% auto, auto 48%;
  background-position: left center, right bottom;
  background-image: url("../assets/images/s-big-cta/left-photo.png"), url("../assets/images/s-big-cta/right-photo.png");
}
.s-big-cta .cta-heading::before {
  position: absolute;
  top: -43px;
  right: 0;
  content: "";
  display: inline-block;
  height: 43px;
  width: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/s-big-cta/yellow-heart.png");
}
@media (min-width: 768px) {
  .s-big-cta .cta-heading::before {
    top: 0;
    right: -60px;
    height: 75px;
    width: 75px;
  }
}
@media (min-width: 992px) {
  .s-big-cta .cta-heading::before {
    top: -60px;
    height: 105px;
    width: 105px;
  }
}
@media (min-width: 1240px) {
  .s-big-cta .cta-heading::before {
    right: -80px;
    height: 135px;
    width: 135px;
  }
}
.s-big-cta .cta-description {
  padding-top: 38px;
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .s-big-cta .cta-description {
    max-width: 58%;
  }
}
@media (min-width: 992px) {
  .s-big-cta .cta-description {
    max-width: 58%;
  }
}
.s-big-cta .black-btn {
  margin-top: 24px;
}

footer .footer-inner {
  display: grid;
  padding-bottom: 50px;
  grid-template-areas: "logo logo" "menu social";
  grid-template-columns: 2fr 1fr;
  row-gap: 43px;
}
footer .footer-inner * {
  text-align: left;
}
@media (min-width: 768px) {
  footer .footer-inner {
    grid-template-areas: "logo menu social";
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: 1.5fr 1fr 1fr;
    padding-bottom: 80px;
  }
}
footer .footer-logo-block {
  max-width: 111px;
  grid-area: logo;
}
@media (min-width: 768px) {
  footer .footer-logo-block {
    max-width: 145px;
  }
}
@media (min-width: 1240px) {
  footer .footer-logo-block {
    max-width: 168px;
  }
}
footer .footer-logo-block .logo-link {
  display: inline-block;
}
footer .social-media {
  grid-area: social;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
footer .social-media .social-media-link {
  font-family: "Neue Machina medium";
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(72, 47, 247);
  width: -moz-min-content;
  width: min-content;
  font-size: 16px;
  line-height: 122.5%;
  transition: 0.2s all ease;
}
@media (min-width: 768px) {
  footer .social-media .social-media-link {
    font-size: 18px;
  }
}
footer .social-media .social-media-link:hover {
  text-shadow: 0.5px 0px 0px #000;
  transition: 0.2s all ease;
}
footer .footer-menu {
  grid-area: menu;
}
@media (min-width: 768px) {
  footer .footer-menu-list .menu-item {
    font-size: 18px;
  }
}
footer .footer-menu-list .menu-item:not(:last-child) {
  padding-bottom: 16px;
}
footer .copyright-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
}
footer .copyright-block .copyright {
  flex: 1 0 100%;
}
footer .copyright-block * {
  text-align: center;
}
@media (min-width: 768px) {
  footer .copyright-block {
    display: grid;
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: 1.5fr 1fr 1fr;
  }
  footer .copyright-block * {
    text-align: left;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Neue Machina";
  color: #000;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1240px) {
  .container {
    padding: 0 60px;
  }
}

.section-wrapper {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .section-wrapper {
    padding: 50px 0;
  }
}
@media (min-width: 992px) {
  .section-wrapper {
    padding: 60px 0;
  }
}

section[id^=s-] {
  scroll-margin-top: 60px;
}
@media (min-width: 768px) {
  section[id^=s-] {
    scroll-margin-top: 80px;
  }
}/*# sourceMappingURL=style.css.map */